
#main{
	border:1px solid black;
	width:45%;
	height:65%;
	background-color:#222;
	position:absolute;
	left:27%;
	border-radius:5px;
}
	
#lista{
	position:relative;
	left:19%;
	top:2.5%;
	font-family:tahoma;
	font-size:15px;
        color: #fff;
}
		
#div1{
	position:relative;
	left:53%;
	top:-6%;
	font-family:tahoma;
	font-size:15px;
        color: #fff;
}
		
#text3{
	font-size:12px;
}
		
h1{
	font-family:tahoma;
	font-size:28px;
        text-align: center;
}
		
#btnConverter{
	position:relative;
	left:32%;
	width:15%;
	height:12%;
	font-family:tahoma;			                
        border-radius:2px;
        background:red;
	font-weight:bold;
}
		
#btnLimpar{
	position:relative;
	left:35%;
	width:15%;
	height:12%;
	font-family:tahoma;			                
        border-radius:2px;
	background:red;
	font-weight:bold;			
}
		
#btnConverter:hover, #btnLimpar:hover{
	background:darkred;                              
        border:1px solid black;                
}
		
#div2{
	position:relative;
	left:-1%;
	top:6%;
	text-align:center;
        color: #fff;
}
		
#resultado{
	font-family:tahoma;
	font-size:15px;
	font-weight:bold;
        color: #fff;
}
		
h1{
	color: red;
}
		
li{
	font-size:12px;
}
		
#div3{
	position:relative;
	top:15%;
        color: #fff;
}
